@model IEnumerable<MuranoTest.Models.OneRow>

<div><br><h4>Сводная форма: Пользователи/Работники/Менеджеры</h4></div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Group 1">
        <button type="button" class="btn btn-outline-secondary">1</button>
        <button type="button" class="btn btn-outline-secondary">2</button>
        <button type="button" class="btn btn-outline-secondary">3</button>
        <button type="button" class="btn btn-outline-secondary">4</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Group 2">
        <button type="button" class="btn btn-outline-secondary">Back</button>
        <button type="button" class="btn btn-outline-secondary">...</button>
        <button type="button" class="btn btn-outline-secondary">Next</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Group 3">
        <a href="/SumPage/Edit" class="btn btn-outline-secondary" role="button" aria-pressed="true">Edit</a>
    </div>
</div>



